@{
    bool isForUserQuotes = this.ViewData["Title"].ToString() == "My Quotes";
}

@if (isForUserQuotes)
{
    <input type="hidden"
           id="isForUserQuotes"
           value=@isForUserQuotes.ToString().ToLower() />
    <div class="btn-group d-flex justify-content-center my-5 mb-3"
         role="group"
         aria-label="Basic radio toggle button group">
        <input type="radio"
               class="btn-check"
               name="quoteStatusRadio"
               id="approvedQuotesRadio"
               autocomplete="off">
        <label class="btn border-dark border-2 fs-5"
               for="approvedQuotesRadio">
            Show only approved quotes
        </label>

        <input type="radio"
               class="btn-check"
               name="quoteStatusRadio"
               id="unapprovedQuotesRadio"
               autocomplete="off">
        <label class="btn border-dark border-2 fs-5"
               for="unapprovedQuotesRadio">
            Show only unapproved quotes
        </label>
    </div>
}

<div class="btn-group my-3 mb-3 d-flex justify-content-center"
     role="group"
     aria-label="Basic radio toggle button group">

    <input type="radio"
           class="btn-check"
           name="btnradio"
           id="movie-quotes"
           autocomplete="off">
    <label class="btn border-2 border-dark fs-5"
           for="movie-quotes">
        Show only movie quotes
    </label>

    <input type="radio"
           class="btn-check"
           name="btnradio"
           id="book-quotes"
           autocomplete="off">
    <label class="btn border-dark border-2 fs-5"
           for="book-quotes">
        Show only book quotes
    </label>

    <input type="radio"
           class="btn-check"
           name="btnradio"
           id="general-quotes"
           autocomplete="off">
    <label class="btn border-dark border-2 fs-5"
           for="general-quotes">
        Show only general quotes
    </label>

    <input type="radio"
           class="btn-check"
           name="btnradio"
           id="liked-quotes"
           autocomplete="off">
    <label class="btn border-dark border-2 fs-5"
           for="liked-quotes">
        Show only liked quotes
    </label>
</div>

<div class="btn-group my-3 mb-3 d-flex justify-content-center"
     role="group"
     aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="sortBtnRadio" id="newest-to-oldest" autocomplete="off" checked>
    <label class="btn border-dark border-2 fs-5" for="newest-to-oldest">Sort newest to oldest</label>

    <input type="radio" class="btn-check" name="sortBtnRadio" id="oldest-to-newest" autocomplete="off">
    <label class="btn border-2 border-dark fs-5" for="oldest-to-newest">Sort oldest to newest</label>

    <input type="radio" class="btn-check" name="sortBtnRadio" id="likes-count-desc" autocomplete="off">
    <label class="btn border-dark border-2 fs-5" for="likes-count-desc">Sort Likes Count Desc</label>
</div>

<div class="input-group mb-3 searchInputGroup">
    <input type="text"
           class="form-control"
           id="searchQuotesInput"
           placeholder="Search quotes..."
           aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <button type="button" id="searchQuotesBtn">
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </button>
</div>
