@model BookListingViewModel

@{
    this.ViewData["Title"] = "Books";
}

<div class="col d-flex justify-content-center">
    <div id="textCard" class="card col-8 text-center">
        <div class="card-body">
            <h1 class="display-4">@Model.CategoryName</h1>
        </div>
    </div>
</div>
<hr />

<partial name="_BookListingPartial" />