@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "Generated Books";
}

@section Styles {
    <link rel="stylesheet" href="~/css/bookListing.css" asp-append-version="true" />
}

<h2 class="text-center mt-5">@ViewData["Title"]</h2>

<partial name="PartialViews/_BookListingPartial" model="@Model" />