@model UploadBookFormModel

@{
    this.ViewData["Title"] = "Upload Book";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card text-center title-card animate__animated animate__jackInTheBox">
        <div class="card-body">
            <h3>@this.ViewData["Title"]<i class="fas fa-book icon ms-3"></i></h3>
        </div>
    </div>
</div>

<form method="post" class="col-8 mx-auto d-flex justify-content-center flex-column" enctype="multipart/form-data">
    <div class="form-group fs-4">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control border border-2">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="LanguageId">Select Language</label>
        <select asp-for="LanguageId" size="8" aria-label="size 5 select example" class="fs-5 form-select form-control border border-2">
            @foreach (var language in Model.Languages)
            {
                <option value=@language.Id>@language.Name</option>
            }
        </select>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="PagesCount">Number of Pages</label>
        <input asp-for="PagesCount" type="number" min="5" class="form-control border border-2">
        <span asp-validation-for="PagesCount" class="small text-danger"></span>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="CategoryId">Select Category</label>
        <select asp-for="CategoryId" size="8" aria-label="size 5 select example" class="fs-5 form-select form-control border border-2">
            @foreach (var category in Model.Categories)
            {
                <option value=@category.Id>@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="PublishedYear">Year</label>
        <input asp-for="PublishedYear" type="number" class="form-control border border-2">
        <span asp-validation-for="PublishedYear" class="small text-danger"></span>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="Publisher">Publisher(optional)</label>
        <input asp-for="Publisher" type="text" class="form-control border border-2">
        <span asp-validation-for="Publisher" class="small text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <label asp-for="BookFile" class="form-label fs-4">Book File - Max 50 MB</label>
        <input asp-for="BookFile" type="file" class="form-control border border-2">
    </div>
    <div class="form-group mt-4">
        <label asp-for="ImageFile" class="form-label fs-4">Image File</label>
        <input asp-for="ImageFile" type="file" class="form-control border border-2">
    </div>
    <div class="form-group mt-4" id="authorsContainer">
        <div id="alert-message"></div>
        <button type="button" id="addAuthorBtn" class="btn button fs-5" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="You can add 5 authors" onclick="AddAuthor();">Add Author<i class="fa-solid fa-square-plus ms-2 fa-xl"></i></button>
    </div>
    <div class="form-group mt-4 fs-4">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control border border-2" rows="12"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <div class="text-center mt-4 mb-5">
        <button type="submit" class="btn button fs-5"><strong>Upload Book<i class="fas fa-upload icon ms-2"></i></strong></button>
    </div>
</form>

@section Scripts{
    <script src="~/js/authors.js"></script>
}