@model BookListingViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    this.ViewData["Title"] = "My Books";
    var titleCardModel = new TitleCardPartialViewModel { Title = "My Books", Count = Model.RecordsCount };
    string requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/bookAll.css" asp-append-version="true" />
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

@if (Model.RecordsCount > 0)
{
    <input type="hidden" id="isForUserBooks" value="true" />
    <input id="RequestVerificationToken" type="hidden" value="@requestToken" />

    <partial name="PartialViews/_BooksSearchInputPartial" />

    <select class="languagesSelect" multiple="multiple"></select>

    <partial name="PartialViews/_BookListingPartial" model="@Model.Books" />

    @if (Model.PagesCount > 1)
    {
        <vc:pagination controller="Book" action="UserBooks" is-for-books="@false" model="@Model"></vc:pagination>
    }
}
else
{
    <h3 class="text-center mt-5 display-3">You haven't uploaded any books yet!</h3>
    <h5 class="text-center mt-5 display-5">
        Want to change that?
        <a asp-controller="Book" asp-action="Upload">
            Click here!
        </a>
    </h5>
}

@section Scripts {
    <script type="module" src="~/js/books.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
}