@model BookListingViewModel

@{
    ViewData["Title"] = "My Books";
}

<div class="col d-flex justify-content-center">
    <div id="textCard" class="card col-4 text-center">
        <div class="card-body">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
    </div>
</div>

<partial name="_BookListingPartial" />