<div class="btn-group my-3 mb-3 d-flex justify-content-center"
     role="group"
     aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="sortBtnRadio" id="newest-to-oldest" autocomplete="off" checked>
    <label class="btn border-dark border-2 fs-5" for="newest-to-oldest">Sort newest to oldest</label>

    <input type="radio" class="btn-check" name="sortBtnRadio" id="oldest-to-newest" autocomplete="off">
    <label class="btn border-2 border-dark fs-5" for="oldest-to-newest">Sort oldest to newest</label>

    <input type="radio" class="btn-check" name="sortBtnRadio" id="likes-count-desc" autocomplete="off">
    <label class="btn border-dark border-2 fs-5" for="likes-count-desc">Sort Likes Count Desc</label>
</div>