<div class="btn-group my-3 mb-3 d-flex justify-content-center"
     role="group"
     aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="movieQuotesRadio" autocomplete="off">
    <label class="btn border-2 border-dark" for="movieQuotesRadio">Show only movie quotes</label>

    <input type="radio" class="btn-check" name="btnradio" id="bookQuotesRadio" autocomplete="off">
    <label class="btn border-dark border-2" for="bookQuotesRadio">Show only book quotes</label>

    <input type="radio" class="btn-check" name="btnradio" id="generalQuotesRadio" autocomplete="off">
    <label class="btn border-dark border-2" for="generalQuotesRadio">Show only general quotes</label>

    <input type="radio" class="btn-check" name="btnradio" id="likedQuotesRadio" autocomplete="off">
    <label class="btn border-dark border-2" for="likedQuotesRadio">Show only liked quotes</label>
</div>