<div class="input-group mb-3">
    <input type="text"
           class="form-control border-2 border-black fs-4"
           id="searchQuotesInput"
           placeholder="Search quotes..."
           aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <button class="btn border border-2 border-black"
            type="button"
            id="searchQuotesBtn">
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </button>
</div>