@{
    string toastHeaderClass = ViewData["Toast-Header-Class"].ToString();
    string toastTitle = ViewData["Toast-Title"].ToString();
    string toastMessage = ViewData["Toast-Message"].ToString();
}


<div class="toast-container position-fixed top-0 end-0 p-3 fs-5">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header @toastHeaderClass">
            <strong class="me-auto">@toastTitle</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @toastMessage
        </div>
    </div>
</div>