@model EmailInputViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/identity/forgotPassword.css" />
}

<section class="forgotPasswordSection">
    <form method="post"
          asp-area=""
          asp-controller="Account"
          asp-action="ForgotPassword">
        <h2 class="text-center text-white">@ViewData["Title"]</h2>
        <h3 class="text-center text-white">Enter your email.</h3>
        <div asp-validation-summary="ModelOnly"
             class="text-danger"
             role="alert">
        </div>
        <div class="form-floating emailContainer">
            <input asp-for="@Model.Email"
                   class="form-control"
                   aria-required="true"
                   placeholder="name@example.com" />
            <label class="form-label"><i class="fa fa-envelope fa-xl"></i></label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg">Reset Password</button>
    </form>
</section>
