@model IEnumerable<UserStatisticsViewModel>

@{
    ViewData["Title"] = "Users Statistics";
    var titleCardModel = new TitleCardPartialViewModel { Title = "Users Statistics" };
    int index = 1;
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Uploaded Books</th>
            <th scope="col">Uploaded Quotes</th>
            <th scope="col">Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">
                    @index
                </th>
                <td style="font-style: italic;">@user.UserName</td>
                <td style="font-style: italic;">@user.UploadedBooks</td>
                <td style="font-style: italic;">@user.UploadedQuotes</td>
                <td style="font-style: italic;">@user.Points</td>
            </tr>
            index++;
        }
    </tbody>
</table>