.uploadBookSection {
    display: flex;
    justify-content: center;
}

    .uploadBookSection form {
        width: 80%;
        border: solid 2px black;
        border-radius: 15px;
        margin: 2rem 0;
        padding: 1rem;
        font-size: 1.2rem;
    }

        .uploadBookSection form div input,
        .uploadBookSection form div select {
            border: solid 2px black;
        }

        .uploadBookSection form div textarea {
            font-size: 10rem;
        }

        .uploadBookSection form .selectContainer {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
        }

            .uploadBookSection form .selectContainer div {
                width: 50%;
            }
