<div class="modal fade"
     id="ratingModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Rate Book</h1>
            </div>
            <div class="modal-body">
                <div class="container-wrapper">
                    <div class="container d-flex align-items-center justify-content-center">
                        <div class="row justify-content-center">
                            <!-- star rating -->
                            <div class="rating-wrapper">
                                @for (int i = 5; i >= 1; i--)
                                {
                                    <input type="radio"
                                           id=@($"{i}-star-rating")
                                           name="star-rating"
                                           value=@(i) @(Model.UserRating == i ? "checked" : "")>
                                    <label for=@($"{i}-star-rating") class="star-rating">
                                        <i class="fas fa-star d-inline-block"></i>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-warning fs-5 px-5 border-3 border-dark"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button data-model-id="@Model.Id"
                        id="rateBtn"
                        type="button"
                        class="btn btn-success fs-5 px-5 border-3 border-dark"
                        data-bs-dismiss="modal">
                    Rate
                </button>
            </div>
        </div>
    </div>
</div>