@model List<BookDetailsViewModel>

@{
    this.ViewData["Title"] = "Deleted Books";
}

<partial name="PartialViews/_BooksTablePartial" />

<!-- Undelete Book Modal -->
<div class="modal fade"
     id="undeleteBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Undelete Book</h3>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to undelete this book?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-area="admin" asp-controller="Book" asp-action="UndeleteBook">
                    <input type="hidden" name="bookId" class="undeleteBookIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Undelete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="PartialViews/_AdminBooksAndQuotesScriptPartial" />
}