@model List<BookDetailsViewModel>

@{
    this.ViewData["Title"] = "Unapproved Books";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/tableSection.css" />
}

<partial name="PartialViews/_BooksTablePartial" />

<!-- Approve Book Modal -->
<div class="modal fade"
     id="approveBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Approve Book</h3>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to approve this book?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-area="admin" asp-controller="Book" asp-action="ApproveBook">
                    <input type="hidden" name="bookId" class="approveBookIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Approve</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Book Modal -->
<div class="modal fade"
     id="deleteBookModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Delete Book</h3>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to delete this book?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-area="admin" asp-controller="Book" asp-action="Delete">
                    <input type="hidden" name="bookId" class="deleteBookIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="PartialViews/_AdminBooksAndQuotesScriptPartial" />
}