@{
    var unapprovedBooksCount = ViewData["BooksCount"];
    var unapprovedQuotesCount = ViewData["QuotesCount"];
}

<h1 class="text-center mt-5">Welcome to Admin Area!</h1>

<div class="d-flex justify-content-center gap-3 mt-5">
    <div class="mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class=" font-weight-bold text-primary text-uppercase mb-1">
                            Pending Book Requests
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@unapprovedBooksCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class=" font-weight-bold text-primary text-uppercase mb-1">
                            Pending Quotes Requests
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@unapprovedQuotesCount</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-pen fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

