@{
    this.ViewData["Title"] = "Home Admin";
    var unapprovedBooksCount = this.ViewData["BooksCount"];
    var unapprovedQuotesCount = this.ViewData["QuotesCount"];
}

<h1 class="text-center pt-5">Welcome to Admin Area!</h1>

<div class="row justify-content-center mt-5">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@unapprovedBooksCount</h3>
                <p>Pending Book Requests</p>
            </div>
            <div class="icon">
                <i class="fas fa-book fa-2x"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@unapprovedQuotesCount</h3>
                <p>Pending Quote Requests</p>
            </div>
            <div class="icon">
                <i class="fas fa-pen fa-2x"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>