@model CreateCommentInputModel

@{
    ViewData["Title"] = "Post Comment";
}


<form method="post" asp-action="Create">
    <div>
        <label asp-for="BookTitle">Book</label>
        <input asp-for="BookTitle" type="text" class="form-control" value="@Model.BookTitle" readonly>
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="15"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input type="hidden" name="bookId" value="@Model.BookId">
    <hr />
    <input type="submit" class="btn" />
</form>




<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>