@{
    this.ViewData[Title] = "Admin";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/home.css"/>
}

<section class="home">
    <h1 class="text-center pt-5">Welcome to Admin Area!</h1>

    <div class="cardsContainer">
        <div class="info-box bg-dark">
            <span class="info-box-icon bg-info"><i class="fas fa-book fa-2x"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Pending Book Requests</span>
                <span class="info-box-number">@this.ViewData[BooksCount]</span>
            </div>
        </div>

        <div class="info-box bg-dark">
            <span class="info-box-icon bg-info"><i class="fas fa-pen fa-2x"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Pending Quote Requests</span>
                <span class="info-box-number">@this.ViewData[QuotesCount]</span>
            </div>
        </div>
    </div>
    
</section>