@model IEnumerable<LanguageViewModel>

@{
    int? selectedLanguageId = ViewData[SelectedLanguageId] as int?;
}

@foreach (var language in Model)
{
    <option value=@language.Id selected="@(language.Id == selectedLanguageId)">
        @language.Name
    </option>
}