<div class="btn-group d-flex justify-content-center my-5 mb-3"
     role="group"
     aria-label="Basic radio toggle button group">
    <input type="radio"
           class="btn-check"
           name="quoteStatusRadio"
           id="approvedQuotesRadio"
           autocomplete="off">
    <label class="btn border-dark border-2 fs-5"
           for="approvedQuotesRadio">
        Show only approved quotes
    </label>

    <input type="radio"
           class="btn-check"
           name="quoteStatusRadio"
           id="unapprovedQuotesRadio"
           autocomplete="off">
    <label class="btn border-dark border-2 fs-5"
           for="unapprovedQuotesRadio">
        Show only unapproved quotes
    </label>
</div>