.randomBooksSection {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.randomBooksForm {
    border: solid 2px black;
    width: 60%;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .randomBooksForm select {
        font-size: 1.4rem;
        border: solid 1px black;
    }

    .randomBooksForm .radioButtonsContainer {
        display: flex;
        justify-content: center;
    }

        .randomBooksForm .radioButtonsContainer .btn-group {
            width: 100%;
        }
            .randomBooksForm .radioButtonsContainer .btn-group label {
                font-size: 1.4rem;
                border: solid 2px black;
                background-color: var(--clr-secondary) !important;
            }

            .randomBooksForm .radioButtonsContainer .btn-group .btn-check:checked + .btn {
                background-color: #C7FCEC !important;
            }

            .randomBooksForm button,
            .randomBooksForm button:hover,
            .randomBooksForm button:active {
                font-size: 2rem;
                margin-top: 2rem;
                background-color: var(--clr-secondary);
                border: solid 2px black;
                padding: 0.5rem 2rem;
            }

@media only screen and (max-width: 970px) {
    .randomBooksForm {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .radioButtonsContainer .btn-group {
        flex-direction: column;
    }
}

