@using Bookworm.Common
@using Bookworm.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        var user = this.UserManager.GetUserAsync(this.User);
        var favoriteBooksCount = user.Result.FavoriteBooks.Count();
        string url = null;
        if (user != null)
        {
            url = user.Result.ProfilePictureUrl;
        }

        <li class="nav-item dropdown no-arrow animate__fadeIn">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" width="40" height="40" src=@url>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow "
             aria-labelledby="userDropdown">
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index" title="Admin">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Admin
                    </a>
                }
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" asp-area="" asp-action="Favorites" asp-controller="FavoriteBook">
                    <i class="fas fa-heart fa-sm fa-fw mr-2 text-gray-400"></i>
                    Favorite Books
                </a>

                <div class="dropdown-divider"></div>
                <form class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                    <button type="submit" class="nav-link btn btn-link text-light justify-content-center">Logout<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i></button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
