<section class="booksListingSection my-3 mx-5 rounded-4 p-4">

    <div class="d-flex flex-wrap justify-content-center gap-4">
        @foreach (var book in Model)
        {
            <a style="flex-basis: 23%;" asp-controller="Book"
               asp-action="Details"
               asp-route-id="@book.Id">

                <img title="@book.Title"
                     src="@book.ImageUrl"
                     alt="@book.Title"
                     height="300"
                     class="imageZoom w-100">

            </a>
        }
    </div>

</section>