<div class="input-group mt-4 searchInputGroup">
    <input type="text"
           class="form-control bookSearchInput"
           placeholder="Search by book title, author or publisher..."
           aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <button type="button" id="bookSearchButton">
        <i class="fa fa-magnifying-glass fa-xl"></i>
    </button>
</div>