@model int

<div class="sortCommentsBtnsContainer mb-3 d-flex justify-content-center">
    <div class="btn-group w-75" role="group" aria-label="Basic radio toggle button group">

        <input type="radio"
               class="btn-check"
               name="btnradio"
               id=@SortCommentsCriteria.CreatedOnAsc
               autocomplete="off"
               onclick="getSortedComments('CreatedOnAsc', @Model)">

        <label class="btn fs-5" for=@SortCommentsCriteria.CreatedOnAsc>
            Sort by date asc
        </label>

        <input type="radio"
               class="btn-check"
               name="btnradio"
               id=@SortCommentsCriteria.CreatedOnDesc
               autocomplete="off"
               onclick="getSortedComments('CreatedOnDesc', @Model)"
               checked>

        <label class="btn fs-5" for=@SortCommentsCriteria.CreatedOnDesc>
            Sort by date desc
        </label>

        <input type="radio"
               class="btn-check"
               name="btnradio"
               id=@SortCommentsCriteria.NetWorthDesc
               autocomplete="off"
               onclick="getSortedComments('NetWorthDesc', @Model)">

        <label class="btn fs-5" for=@SortCommentsCriteria.NetWorthDesc>
            Sort by net worth desc
        </label>

    </div>
</div>