.bookDetailsInfoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}

    .bookDetailsInfoSection div {
        flex-basis: 35%;
    }

        .bookDetailsInfoSection div img {
            border-radius: 15px;
            border: solid 2.5px black;
            height: 25rem;
            width: 100%;
        }

    .bookDetailsInfoSection ul {
        flex-basis: 65%;
        border-radius: 15px;
        border: solid 2.5px black;
        font-size: 1.2rem;
    }

        .bookDetailsInfoSection ul a {
            font-style: italic;
        }

.list-group .list-group-item {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    word-wrap: break-word;
}

    .list-group .list-group-item:hover {
        background-color: var(--clr-secondary);
    }

    .list-group .list-group-item a {
        color: var(--clr-white);
    }

.bookDetailsActionsSection {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 2rem 0;
}

    .bookDetailsActionsSection a,
    .bookDetailsActionsSection button {
        font-size: 1.4rem;
        border: solid 2px black;
        flex-basis: 50%;
    }

.bookDetailsDescSection {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

    .bookDetailsDescSection .card {
        font-size: 1.2rem;
        border: solid 2px black;
    }

        .bookDetailsDescSection .card .card-body {
            text-align: justify;
        }

.bookDetailsCommentsSection {
    width: 100%;
    margin-bottom: 2rem;
}

    .bookDetailsCommentsSection h2 {
        text-align: center;
    }

    .bookDetailsCommentsSection .formContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

        .bookDetailsCommentsSection .formContainer .button {
            border: solid 3px black;
            padding: 0.5rem 2rem;
        }

        .bookDetailsCommentsSection .formContainer form {
            border: solid 2px black;
            border-radius: 15px;
            padding: 2rem;
            width: 100%;
        }

.commentsSection {
    padding: 2rem 1rem;
    border: solid 2px black;
    border-radius: 15px;
}

    .commentsSection .sortCommentsBtnsContainer {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

        .commentsSection .sortCommentsBtnsContainer .btn-group {
            width: 70%;
            border: solid 2px black;
        }

            .commentsSection .sortCommentsBtnsContainer .btn-group label {
                font-weight: bold;
                font-size: 1.3rem;
                font-style: italic;
            }

    .commentsSection .commentsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .commentsSection .commentActionsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .commentsSection .card {
        width: 70%;
        border: solid 2px black;
        font-size: 1.1rem;
    }

        .commentsSection .card .card-header {
            font-style: italic;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .commentsSection .card .card-header .arrowsContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
            }

                .commentsSection .card .card-header .arrowsContainer i {
                    font-size: 2.5rem;
                }

                .commentsSection .card .card-header .arrowsContainer .hover:hover {
                    cursor: pointer;
                }
/*Rating*/
.ratingStar {
    color: #34AC9E;
}

.rating-wrapper {
    align-self: center;
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 1.5rem 2.5rem;
    margin-left: auto;
    border: solid 2px #1abc9c;
}

    .rating-wrapper label {
        color: #E1E6F6;
        cursor: pointer;
        display: inline-flex;
        font-size: 3rem;
        padding: 1rem .6rem;
        transition: color 0.5s;
    }

    .rating-wrapper input {
        height: 100%;
        width: 100%;
    }

    .rating-wrapper input {
        display: none;
    }

        .rating-wrapper label:hover,
        .rating-wrapper label:hover ~ label,
        .rating-wrapper input:checked ~ label {
            color: #34AC9E;
        }

            .rating-wrapper label:hover,
            .rating-wrapper label:hover ~ label,
            .rating-wrapper input:checked ~ label {
                color: #34AC9E;
            }
