@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&display=swap');

:root {
    --clr-primary: #34495E;
    --clr-secondary: #1abc9c;
    --clr-white: #fff;
    --clr-black: #000000;
    --clr-custom-divider: #2c3e50;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Diphylleia', serif;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}

.navbar {
    background-color: var(--clr-primary);
}

    .navbar .nav-item .nav-link {
        color: var(--clr-white);
    }

        .navbar .nav-item .nav-link:hover {
            color: var(--clr-secondary);
        }

    .navbar .navbar-toggler {
        border-color: var(--clr-white);
    }

    .navbar .dropdown .dropdown-menu {
        background-color: var(--clr-primary);
    }

        .navbar .dropdown .dropdown-menu .dropdown-item {
            color: var(--clr-white);
        }

            .navbar .dropdown .dropdown-menu .dropdown-item:hover {
                background-color: var(--clr-secondary);
                color: var(--clr-black);
            }

.dropdown .dropdown-menu {
    border-color: var(--clr-secondary);
    border: solid 3px var(--clr-secondary);
}

.modal-header {
    background-color: var(--clr-primary);
}

    .modal-header h1 {
        color: white;
    }

.modal .model-content .modal-header .custom-close-btn {
    color: red;
    cursor: pointer;
}

.modal-body,
.modal-footer {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .modal-body img {
        border-radius: 10px;
    }

    .modal-body button {
        background-color: var(--clr-secondary);
    }

        .modal-body button:hover {
            background-color: var(--clr-secondary);
            color: var(--clr-black);
        }

.modal-content {
    border: solid 3px var(--clr-secondary);
}

.modal .modal-header .btn-modal-close {
    color: red;
    border: solid 2px red;
    background: none;
}

#quoteImg {
    cursor: pointer;
    height: 50%;
}

.fa-bars {
    color: var(--clr-white);
}

.likeQuote {
    cursor: pointer;
}

.button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .button:hover {
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }

.btn-group label {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.btn-group .btn-check:hover + .btn {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
}

.btn-group .btn-check:checked + .btn {
    background-color: var(--clr-secondary);
    color: var(--clr-black);
}

.logout-btn {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-radius: 10px;
}

/*Login and Register*/
.loginRegisterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loginRegisterForm {
    flex-basis: 50%;
}

.loginRegisterImg {
    height: 30rem;
    flex-basis: 40%;
}


.bookworm-footer {
    background-color: var(--clr-primary);
    margin-top: auto;
    flex-shrink: 0;
}

.category-link {
    text-decoration: none;
}

#searchQuotesBtn:hover {
    background-color: var(--clr-secondary);
}

.x-icon,
.fa-thumbs-down {
    color: red;
}

.fa-thumbs-up {
    color: var(--clr-secondary);
}

.checkIcon {
    color: var(--clr-secondary);
}
/*Pagination Styles*/
.pagination > li > a {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: var(--clr-black);
        background-color: var(--clr-secondary);
    }

.pagination > .active > span,
.pagination > .active > span:focus {
    background-color: var(--clr-secondary);
    border: solid 2px var(--clr-black);
}


/*Table Styles*/
.table tr td,
.table thead tr th,
.table tbody th {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

/*Custom divider style*/
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: var(--clr-custom-divider);
        border-radius: 1rem;
        border-color: var(--clr-custom-divider);
    }

        .divider-custom .divider-custom-line:first-child {
            margin-right: 1rem;
        }

        .divider-custom .divider-custom-line:last-child {
            margin-left: 1rem;
        }

    .divider-custom .divider-custom-icon {
        color: var(--clr-custom-divider);
        font-size: 2rem;
    }

    .divider-custom.divider-light .divider-custom-line {
        background-color: var(--clr-white);
    }

    .divider-custom.divider-light .divider-custom-icon {
        color: var(--clr-white);
    }


a[class="form-link"] {
    color: var(--clr-primary);
    font-size: 1.2rem;
    text-decoration: none;
}

    a[class="form-link"]:hover {
        color: var(--clr-secondary);
    }

a[class="privacy-link"] {
    color: var(--clr-white);
}

    a[class="privacy-link"]:hover {
        color: var(--clr-secondary);
    }

.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--clr-secondary);
}

.title-card {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .title-card .blockquote .blockquote-footer {
        color: var(--clr-white);
    }

.card .card-header {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

    .card .card-header:hover {
        color: var(--clr-secondary);
    }

/*Radio Buttons and Checkboxes Styles*/
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
}

    input[type="checkbox"]:checked {
        accent-color: var(--clr-secondary);
    }

input[type="radio"] {
    appearance: none;
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--clr-primary);
    box-shadow: inset 0 0 0 .4em var(--clr-white), 0 0 0 .3em;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    vertical-align: middle;
}

    input[type="radio"]:hover, input[type="radio"]:checked {
        background: var(--clr-primary);
        box-shadow: inset 0 0 0 .6em var(--clr-white), 0 0 0 .3em;
    }

    input[type="radio"]:checked {
        background: var(--clr-secondary);
        box-shadow: inset 0 0 0 .4em var(--clr-white), 0 0 0 .3em #56be8e;
    }

    input[type="radio"]:focus {
        outline: 0;
    }

.quotesContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1rem;
    margin: 2rem 0;
}

    .quotesContainer .quoteCard {
        width: 50%;
    }


/*Responsive Design*/
@media only screen and (max-width: 1000px) {
    .loginRegisterFormContainer .imageContainer {
        display: none;
    }

    .loginRegisterFormContainer {
        margin: 1rem;
    }

    .loginRegisterForm {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .loginRegisterImg {
        display: none;
    }

    .loginRegisterContainer {
        display: flex;
        justify-content: center;
    }

    .loginRegisterForm {
        flex-basis: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .quotesContainer {
        flex-direction: column;
    }

        .quotesContainer .quoteCard {
            width: 100%;
        }
}

@media only screen and (max-width: 370px) {
    .homeBtnsSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
