@model IEnumerable<BookViewModel>

@{
    this.ViewData["Title"] = "Deleted Books";
}

@if (Model.Any() == false)
{
    <h2 class="text-center mt-5">There are no deleted books!</h2>
}
else
{
    <h2 class="text-center mt-5">Manage Deleted Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-3 mt-5 mb-4">
                <div class="card">
                    <img src="@book.ImageUrl" class="card-img-top" alt="@book.Title">
                    <div class="card-body card-body-book no-gutters text-center">
                        <a class="btn btn-danger modalBtn w-100" data-model-id="@book.Id" data-bs-toggle="modal" data-bs-target="#undeleteBookModal">Undelete</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- Undelete Book Modal -->
<div class="modal fade" id="undeleteBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Undelete Book</h1>
                <button type="button" class="btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body">
                <strong>Are you sure you want to undelete this book?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-area="admin" asp-controller="Book" asp-action="UndeleteBook">
                    <input type="hidden" name="bookId" class="modelIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Undelete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/modal.js"></script>
}