@model NotificationListViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    string requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section Styles {
    <link rel="stylesheet" href="~/css/notification/notifications.css" />
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<section class="notificationsSection">
    @foreach (var notification in Model.Notifications)
    {
        <div class="alert @((notification.Content.StartsWith("Oops") ? "alert-danger" : "alert-success")) alert-success alert-dismissible fade show"
             role="alert">
            @notification.Content
            <button type="button"
                    class="btn-close"
                    data-model-id="@notification.Id"
                    data-bs-dismiss="alert"
                    aria-label="Close">
            </button>
        </div>
    }
</section>

@section Scripts {
    <script src="~/js/notification/userNotifications.js"></script>
}