@model TakeQuizFormModel

@{
    ViewData["Title"] = "Generate Quiz";
}

<div class="col d-flex justify-content-center animate__animated animate__zoomIn">
    <div id="textCard" class="card col-5 text-center">
        <div class="card-body">
            <h1 class="display-4">@this.ViewData["Title"]</h1>
        </div>
    </div>
</div>

<form method="post" class="col-lg-8 offset-lg-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CategoryName"><strong>Select Category</strong></label>
        <select asp-for="CategoryName" asp-items="@Model.Categories" size="5" aria-label="size 5 select example" class="form-select form-control"></select>
    </div>
    <p>Choose number of questions:</p>
    <input asp-for="CountQuestions" type="radio" value=5>
    <label>5</label><br>
    <input asp-for="CountQuestions" type="radio" value=10>
    <label>10</label><br>
    <input asp-for="CountQuestions" type="radio" value=15>
    <label>15</label><br>
    <input asp-for="CountQuestions" type="radio" value=20>
    <label>20</label>
    <div class="text-center">
        <button type="submit" class="btn">Generate Quiz</button>
    </div>
</form>