<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData[Title] - Bookworm</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="/favicon.ico" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Bookworm</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column"
                        data-widget="treeview"
                        role="menu"
                        data-accordion="false">

                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-house"></i>
                                <p>Home</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="User" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>Users</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Book" asp-action="ApprovedBooks" class="nav-link">
                                <i class="fa-solid fa-circle-check nav-icon"></i>
                                <p>Approved Books</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Book" asp-action="UnapprovedBooks" class="nav-link">
                                <i class="fa-solid fa-circle-xmark nav-icon"></i>
                                <p>Unapproved Books</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Book" asp-action="DeletedBooks" class="nav-link">
                                <i class="fa-solid fa-trash-can nav-icon"></i>
                                <p>Deleted Books</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Quote" asp-action="ApprovedQuotes" class="nav-link">
                                <i class="fa-solid fa-circle-check nav-icon"></i>
                                <p>Approved Quotes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Quote" asp-action="UnapprovedQuotes" class="nav-link">
                                <i class="fa-solid fa-circle-xmark nav-icon"></i>
                                <p>Unapproved Quotes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="admin" asp-controller="Quote" asp-action="DeletedQuotes" class="nav-link">
                                <i class="fa-solid fa-trash-can nav-icon"></i>
                                <p>Deleted Quotes</p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @this.RenderBody()
                    <div class="toast-container top-0 end-0 p-3"></div>
                </div>
            </section>
        </div>

        <footer class="main-footer bg-dark text-center">
            <strong>Copyright &copy; Bookworm @DateTime.UtcNow.Year</strong>
            All rights reserved.
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>

    @await this.RenderSectionAsync("Scripts", required: false)

    <partial name="PartialViews/_UserMessagesPartial" />
</body>
</html>
