@using Bookworm.Data.Models
@model UserViewModel

@{
    ViewData[Title] = "Edit User";
    var roles = (List<ApplicationRole>)this.ViewData["Roles"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/userEdit.css" />
}

<section class="userEditSection">
    <h1 class="text-center">@ViewData[Title]</h1>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id">
        <div class="form-group">
            <label>Username</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <select asp-for="@Model.Roles" class="form-control">
            @foreach (var role in roles)
            {
                <option selected=@(Model.Roles.Contains(role.Name))>@role.Name</option>
            }
        </select>
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Edit Profile</button>
        </div>
    </form>
</section>

