main {
    margin: 0 !important;
}

.accountLayoutNavbar {
    width: 100% !important;
    background-color: #D6F4FF;
    font-size: 1.3rem;
    min-height: 60px;
}

.accountLayoutSection {
    min-height: calc(100vh - (var(--nav-minHeight) + var(--footer-minHeight) + 63px));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

    .accountLayoutSection form {
        border: solid 2px var(--clr-secondary);
        background-color: var(--clr-primary);
        padding: 2rem;
        width: 50%;
        border-radius: 15px;
    }

        .accountLayoutSection form input {
            border: solid 2px var(--clr-secondary);
            font-size: 1.3rem;
        }

        .accountLayoutSection form button,
        .accountLayoutSection form button:hover,
        .accountLayoutSection form button:active {
            background-color: var(--clr-secondary) !important;
        }

            .accountLayoutSection form button:hover {
                color: var(--clr-white);
            }
