.loginRegisterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: calc(100vh - 100px);
    padding: 1rem 0;
}

    .loginRegisterContainer .imgContainer {
        flex-basis: 40%;
    }

    .loginRegisterContainer .formContainer {
        border: solid 3px var(--clr-secondary);
        padding: 2rem;
        border-radius: 15px;
        background-color: var(--clr-primary);
        flex-basis: 60%;
    }

    .loginRegisterContainer form input:not([type='checkbox']) {
        border: solid 2px var(--clr-secondary);
        font-size: 1.3rem;
    }

    .loginRegisterContainer form .rememberMeContainer {
        display: flex;
        align-items: center;
        color: var(--clr-white);
        gap: 0.5rem;
    }

    .loginRegisterContainer form button[type="submit"] {
        background-color: var(--clr-secondary);
        border: solid 2px black;
        padding: 0.4rem 3rem;
        font-size: 2rem;
    }

        .loginRegisterContainer form button[type="submit"]:hover {
            color: white;
        }

@media only screen and (max-width: 1000px) {
    .loginRegisterContainer .imgContainer {
        display: none;
    }

    .loginRegisterContainer form {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .loginRegisterImg {
        display: none;
    }

    .loginRegisterContainer {
        display: flex;
        justify-content: center;
    }

    .loginRegisterForm {
        flex-basis: 80%;
    }
}
