main {
    margin: 0 !important;
}

.resetPassSection {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .resetPassSection form {
        border: solid 2px var(--clr-secondary);
        border-radius: 15px;
        width: 60%;
        padding: 2rem;
        background-color: var(--clr-primary);
    }

        .resetPassSection form input {
            border: solid 2px var(--clr-secondary);
            font-size: 1.2rem;
        }

        .resetPassSection form .emailContainer {
            margin: 2rem 0;
        }

        .resetPassSection form button,
        .resetPassSection form button:hover,
        .resetPassSection form button:active {
            background-color: var(--clr-secondary) !important;
        }

            .resetPassSection form button:hover {
                color: white;
            }

@media only screen and (max-width: 1000px) {
    .resetPassSection form {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .resetPassSection form {
        width: 90%;
    }
}
