@model UploadQuoteViewModel

@{
    this.ViewData["Title"] = "Edit Quote";
    var titleCardModel = new TitleCardPartialViewModel { Title = "Edit Quote", IconClass = "fas fa-pen icon ms-3" };
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

<div class="editQuoteContainer">
    <form asp-controller="Quote" asp-action="Edit" class="editQuoteForm">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        @if (Model.Type == QuoteType.GeneralQuote)
        {
            <partial name="PartialViews/Quotes/QuotesTypesInputs/_GeneralQuoteInputsPartial" />
        }
        else if (Model.Type == QuoteType.BookQuote)
        {
            <partial name="PartialViews/Quotes/QuotesTypesInputs/_BookQuoteInputsPartial" />
        }
        else if (Model.Type == QuoteType.MovieQuote)
        {
            <partial name="PartialViews/Quotes/QuotesTypesInputs/_MovieQuoteInputsPartial"/>
        }
        <div class="editQuoteFormBtnContainer mt-3">
            <button type="submit" class="btn">
                Edit<i class="fa fa-square-pen ms-2"></i>
            </button>
        </div>
    </form>
</div>

