@model QuoteViewModel

@{
    ViewData["Title"] = "Edit Quote";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card text-center title-card animate__animated animate__jackInTheBox">
        <div class="card-body">
            <h3>@this.ViewData["Title"]<i class="fas fa-pen icon ms-3"></i></h3>
        </div>
    </div>
</div>

<form method="post" class="col-6 mx-auto d-flex justify-content-center flex-column mt-3 mb-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id">
    <div class="form-group justify-content-center">
        <label asp-for="Content"><strong>Content*</strong></label>
        <textarea asp-for="Content" class="form-control border border-2 fs-5" rows="6"></textarea>
        <span asp-validation-for="Content" class="small text-danger"></span>
    </div>
    @if (Model.AuthorName != null)
    {
        <div class="form-group my-3">
            <label asp-for="AuthorName"><strong>Author's Name</strong></label>
            <input value="@Model.AuthorName" asp-for="AuthorName" type="text" class="form-control border border-2 fs-5">
            <span asp-validation-for="AuthorName" class="small text-danger"></span>
        </div>
    }
    @if (Model.BookTitle != null)
    {
        <div class="form-group my-3">
            <label asp-for="BookTitle"><strong>Book Title</strong></label>
            <input asp-for="BookTitle" value="@Model.BookTitle" type="text" class="form-control border border-2 fs-5">
            <span asp-validation-for="BookTitle" class="small text-danger"></span>
        </div>
    }
    @if (Model.MovieTitle != null)
    {
        <div class="form-group my-3">
            <label asp-for="MovieTitle"><strong>Movie Title</strong></label>
            <input asp-for="MovieTitle" value="@Model.MovieTitle" type="text" class="form-control border border-2 fs-5">
            <span asp-validation-for="MovieTitle" class="small text-danger"></span>
        </div>
    }
    <div class="text-center mt-3">
        <button type="submit" class="btn button text-center form-button fs-5 px-5"><strong>Edit</strong></button>
    </div>
</form>