<div class="card">
  <div class="card-body">
    <h5 class="card-title">Thank you for contributing to Bookworm!</h5>
    <p class="card-text">When your quote is approved by an administrator you will receive an email. If you haven't confirmed your email follow the below link.</p>
    <a href="/Identity/Account/Manage/Email" class="btn button">Go to Email</a>
  </div>
</div>