@model UploadQuoteViewModel

@{
    ViewData["Title"] = "Upload Quote";
    var titleCardModel = new TitleCardPartialViewModel { Title = "Upload Quote", IconClass = "fa-pen" };
}

@section Styles {
    <link rel="stylesheet" href="~/css/quote/quoteUpload.css" asp-append-version="true" />
}

<section class="uploadQuoteSection">
    <partial name="PartialViews/_TitleCardPartial" model=titleCardModel />
    <div class="uploadQuoteBtnsContainer">
        <button type="button" class="btn button btn-lg" data-bs-toggle="modal" data-bs-target="#movieModal">
            <strong>Movie Quote</strong><i class="fa-solid fa-film ms-3 fa-xl"></i>
        </button>

        <button type="button" class="btn button btn-lg" data-bs-toggle="modal" data-bs-target="#bookModal">
            <strong>Book Quote</strong><i class="fa-solid fa-book ms-3 fa-xl"></i>
        </button>

        <button type="button" class="btn button btn-lg" data-bs-toggle="modal" data-bs-target="#otherModal">
            <strong>General Quote</strong><i class="fa-solid fa-user-pen ms-3 fa-xl"></i>
        </button>
    </div>

    <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">Upload Movie Quote</h1>
                    <i class="fa-solid fa-x btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body uploadQuoteModalContainer">
                    <img class="col-4" src="~/images/quote/movieQuote.jpg" />
                    <form id="movieQuoteForm" method="post" asp-controller="Quote" asp-action="Upload">
                        <partial name="PartialViews/Quotes/QuotesTypesInputs/_MovieQuoteInputsPartial" />
                        <div class="text-center mt-4 mb-5">
                            <button type="submit" class="btn button form-button">
                                <strong>Upload<i class="ms-2 fas fa-upload icon"></i></strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">Upload Book Quote</h1>
                    <i class="fa-solid fa-x btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body uploadQuoteModalContainer">
                    <img class="img-fluid" src="~/images/quote/bookQuote.jpg" />
                    <form id="bookQuoteForm" method="post" asp-controller="Quote" asp-action="Upload">
                        <partial name="PartialViews/Quotes/QuotesTypesInputs/_BookQuoteInputsPartial" />
                        <div class="text-center mt-4 mb-5">
                            <button type="submit" class="btn button form-button">
                                <strong>Upload<i class="ms-2 fas fa-upload icon"></i></strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="otherModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">Upload General Quote</h1>
                    <i class="fa-solid fa-x btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body uploadQuoteModalContainer">
                    <img class="col-4" src="~/images/quote/generalQuote.jpg" />
                    <form id="generalQuoteForm" method="post" asp-controller="Quote" asp-action="Upload">
                        <partial name="PartialViews/Quotes/QuotesTypesInputs/_GeneralQuoteInputsPartial" />
                        <div class="text-center mt-4 mb-5">
                            <button type="submit" class="btn button form-button">
                                <strong>Upload<i class="ms-2 fas fa-upload icon"></i></strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script src="~/js/quote/quoteUpload.js"></script>
}