.editQuoteContainer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

    .editQuoteContainer .editQuoteForm {
        width: 70%;
        padding: 2rem;
        border: solid 3px var(--clr-secondary);
        border-radius: 15px;
        background-color: var(--clr-primary);
        color: white;
        font-size: 1.4rem;
    }

        .editQuoteContainer .editQuoteForm input,
        .editQuoteContainer .editQuoteForm textarea,
        .editQuoteContainer .editQuoteForm button {
            font-size: 1.4rem;
            border: solid 2.5px var(--clr-secondary);
        }

        .editQuoteContainer .editQuoteForm .editQuoteFormBtnContainer {
            display: flex;
            justify-content: center;
        }

            .editQuoteContainer .editQuoteForm .editQuoteFormBtnContainer button {
                width: 30%;
                font-size: 2rem;
                background-color: var(--clr-secondary);
                border: solid 2px black;
            }


@media only screen and (max-width: 1000px) {
    .editQuoteContainer .editQuoteForm {
        width: 100%;
    }

        .editQuoteContainer .editQuoteForm .editQuoteFormBtnContainer button {
            width: 100%;
        }
}