@model List<CategoryViewModel>

@{
    this.ViewData["Title"] = "Categories";
    var titleCardModel = new TitleCardPartialViewModel { Title = ViewData["Title"] as string, IconClass = "fa-solid fa-layer-group" };
}

@section Styles {
    <link rel="stylesheet" href="~/css/categories.css" asp-append-version="true" />
}

<partial name="PartialViews/_TitleCardPartial" model=titleCardModel />

<section class="categoriesSection">
    @foreach (var category in Model)
    {
        <a asp-controller="Book"
           asp-action="All"
           asp-route-category="@category.Name">
            <div class="imageContainer">
                <img class="rounded-4"
                     src="~/images/bookCategories/@(category.Name).jpg"
                     alt=@category.Name
                     height="300">
                <div class="overlay">
                    <div class="text text-center">@category.Name</div>
                </div>
            </div>
        </a>
    }
</section>