@model IEnumerable<CategoryViewModel>

@{
    this.ViewData["Title"] = "Categories";
}

<div id="categoriesConteiner">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mt-5 mb-5">
                <a asp-controller="Book" asp-action="All" asp-route-categoryName="@category.Name">
                    <div class="card bg-dark text-light h-100">
                        <img id="categoryImage" class="zoom" src="@category.ImageUrl" alt="Book" height="300">
                        <div class="card-body text-center">
                            <h5 class="card-title text-justify text-center">@category.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>